{
  "extends": ["next/core-web-vitals", "airbnb", "plugin:prettier/recommended"],
  "plugins": ["@typescript-eslint", "unused-imports"],
  "rules": {
    // ERRORI CHE STAI AVENDO:
    "import/extensions": "off", // Basta errori sugli import
    "react/jsx-filename-extension": "off", // JSX ok anche in .tsx
    "react/react-in-jsx-scope": "off", // Next.js non serve import React
    "react/function-component-definition": "off",
    "react/button-has-type": "off",
    "jsx-a11y/no-noninteractive-tabindex": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "react/no-array-index-key": "warn",
    "react/jsx-no-constructed-context-values": "warn",

    // Le tue custom
    "prettier/prettier": ["error", { "singleQuote": true }],
    "react/destructuring-assignment": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "off",
    "@next/next/no-img-element": "off",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before",
          },
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "newlines-between": "always",
        "alphabetize": { "order": "asc", "caseInsensitive": true },
      },
    ],
    "import/prefer-default-export": "off",
    "class-methods-use-this": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "parser": "@typescript-eslint/parser",
      "extends": ["plugin:@typescript-eslint/recommended"],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off",
      },
    },
  ],
}
