@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #22c55e;
  --color-secondary: #16a34a;
  --color-tertiaty: #99a0a3;
}

a { 
  @apply text-green-700;
}

a:hover {
  @apply border-b-2 border-green-700;
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
